extends ./layout.pug

block content
  header#home
    figure
      img(src="", alt=" You programming code ")
    div
      h2 Hello, I´m PieroDev backend developer
  section#about
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam in non neque sed veritatis reiciendis laboriosam repudiandae, corrupti modi omnis!
  section#projects 
   
