extends ./layout.pug

block content
  header#home
    div
      h2 > Hello, I´m PieroDev, Backend Developer
    figure
      img(src="public/images/feeling-proud.svg", alt=" You programming code ", width="500",height="500") 
  section#about 
    div: h3.subtitle > About Me
    section
      article
        p Hi I'm piero, software engineering student, I love to enjoy the beach, do sports (soccer, tennis), cook and listen to music of the rock and blues genre. 
        p <span id="about-subtitle" >Technologies I use:</span> Express.js,Node.js,Postman,Linux(Ubuntu),Heroku,Google Cloud Platform
      figure
  section#projects 
    div: h3.subtitle > Projects
    section
      - 
        const namesOfProjects = ["chatbot Pizzeria Elarenti","Agend Contact","Ecommerce Ksi"]
      each project in namesOfProjects
        a(href="#")= "> "+project 
    article 
      - 
        const myTecnologiesFavorites = ["chrome","github","gnu-bash","heroku","java","linux","nodejs"]
      each tecnology in myTecnologiesFavorites 
        figure
          img(src=`/public/images/${tecnology}.png`, width="50",height="50",alt=`${tecnology}`, srcset="")
     

   
